<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  # Exclude the /pages path from the rewrite rules
  RewriteCond %{REQUEST_URI} !^/pages [NC]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.tobe-websolutions\.de$ [NC]
RewriteRule ^(.*)$ http://tobe-websolutions.de/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://tobe-websolutions.de/$1 [L,R=301]