$background-dark: #292929;
$background-light: #e2e2e2;
$font-color-dark: #e2e2e2;
$font-color-light: #292929;

.nav{
    background: $background-dark;
    color: $font-color-dark;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav{
    .left{
        margin-left: 50px;
        font-size: 40px;
    }

    .right{
        margin-right: 70px;
        ul {
            $abs: 10px;
            li{
                list-style-type: none;
                display: inline;
                margin-left: $abs;
            }
            li:not(:first-child)::before{
                content: "|";
                margin-right: $abs;
            }
        }
    }
}