$background-dark: #292929;
$background-light: #e2e2e2;
$font-color-dark: #e2e2e2;
$font-color-light: #292929;

$transition: .2s all ease-in-out;

.nav{
    background: $background-dark;
    color: $font-color-dark;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    .left{
        margin-left: 50px;
        font-size: 40px;
        font-weight: bold;
        background-image: linear-gradient(90deg, rgb(49, 42, 172) 0%, rgba(0,212,255,1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        span{
            font-size: 25px;
        }
    }

    .right{
        margin-right: 70px;
        ul {
            $abs: 15px;
            li{
                list-style-type: none;
                display: inline;
                margin-left: $abs;
                a{
                    text-decoration: none;
                    color: $font-color-dark;
                    transition: $transition;
                }
                a:hover{
                    color:#646464;
                }
            }
            li:not(:first-child)::before{
                content: "|";
                margin-right: $abs;
            }
        }
    }
}

footer{
    margin: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    .container{
        width: 200px;
        color: $font-color-dark;
        margin: 0 20px;
        h3{
            border-bottom: 1px solid $font-color-dark;
            margin-bottom: 10px;
        }
        ul{
            margin: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            li{
                list-style-type: none;
                margin-top: 2px;
                a{
                    color: $font-color-dark;
                    text-decoration: none;
                    transition: $transition;
                }
                a:hover{
                    color: #646464;
                }
            }
        }
    }
}


.reveal{
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 950px){
    //mobile design
}