$ciBlue: rgb(20, 131, 182);
$ciWhite: #ffffff;
$ciGreen: rgb(0, 212, 255);
$ciSecond: #292929;

.information {
	h1 {
		margin-top: 100px;
		width: 100%;
		padding: 0 100px;
		color: #e2e2e2;
	}

	p {
		margin-top: 20px;
		width: 100%;
		padding: 0 100px;
		color: #e2e2e2;
	}
}

.cards {
	color: #e2e2e2;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	padding: 2rem;

	&:hover {
		.card {
			background: radial-gradient(70rem circle at var(--xPos) var(--yPos),
					rgba($ciBlue, 0.4),
					transparent 15%);
		}
	}

	.card {
		width: 20rem;
		height: 15rem;
		background: radial-gradient(150rem circle at 0 0,
				rgba($ciBlue, 0),
				transparent 0%);
		border-radius: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: all 0.15s;
		background-repeat: no-repeat;
		background-position: var(--xPos) var(--yPos);

		/* use --xPos and --yPos here */
		/* other styles */
		&:hover {
			transform: scale(0.97);

			&::before {
				opacity: 1;
			}
		}

		&::before {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: inherit;
			background: radial-gradient(60rem circle at var(--xPos) var(--yPos),
					rgba($ciBlue, 0.1),
					transparent 35%);
			opacity: 0;
			transition: all 0.15s ease-in-out;
		}

		.card-content {
			background-color: #13161c;
			border-radius: inherit;
			transition: all 0.25s;
			height: 100%;
			width: 100%;

			h3 {
				width: 100%;
				text-align: center;
			}

			p {
				width: 100%;
				padding: 10px 20px;
			}
		}
	}
}